<!DOCTYPE html>

<html ng-app="spd" ng-controller="pageController">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title ng-bind="page.title()"></title>
    </head>
    <body id="selenium-phantomjs-demo">
        
        @RenderBody()

        <script type="text/javascript">
            var spd = {
                url: {
                    baseUrl: '@Url.Content("~")'
                }
            };
        </script>

        <script type="text/javascript" src="~/scripts/angular.js"></script>
        <script type="text/javascript" src="~/scripts/angular-route.js"></script>
        <script type="text/javascript" src="~/scripts/common/url.js"></script>
        <script type="text/javascript" src="~/scripts/common/app.js"></script>
        <script type="text/javascript" src="~/scripts/pages/pageController.js"></script>
        <script type="text/javascript" src="~/scripts/pages/pageService.js"></script>
        <script type="text/javascript" src="~/scripts/pages/customers/customersController.js"></script>
        <script type="text/javascript" src="~/scripts/pages/customers/customerDetailsController.js"></script>
        <script type="text/javascript" src="~/scripts/pages/customers/addCustomerController.js"></script>
        <script type="text/javascript" src="~/scripts/pages/customers/editCustomerController.js"></script>

        @RenderSection("scripts", required: false)
    </body>

</html>