<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://localhost/seleniumphantomjsdemo/" />
    <add key="screenshotDirectory" value="c:\temp\seleniumphantomjsdemoscreenshots" />
  </appSettings>
  <connectionStrings>
    <add name="Demo" connectionString="Data Source=.;Initial Catalog=SeleniumPhantomJSDemo;user id=seleniumuser;password=foobar;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>