<section class="customer-details">
    <dl>
        <dt>First name</dt>
        <dd class="first-name">{{ customer.firstName }}</dd>
        
        <dt>Last name</dt>
        <dd class="last-name">{{ customer.lastName }}</dd>
        
        <dt>Email</dt>
        <dd class="email">{{ customer.email }}</dd>
        
        <dt>Registration date</dt>
        <dd class="registration-date">{{ customer.createdDate }}</dd>
    </dl>
</section>

<a class="edit" href="#/customers/{{ customer.id }}/edit">Edit</a>
<a class="back" href="#/customers">Back to list</a>